Repository dkveil/requil: changes, and which lefthook commands are due for each by the changed paths.
All: format, typecheck, check-package-json, check-dependencies

lefthook.yml:

skip_output:
  - meta
  - summary

pre-commit:
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,jsonc}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: npx turbo type-check --filter=...[HEAD] --continue

    check-package-json:
      glob: "**/package.json"
      run: |
        echo "üîç Checking package.json files..."
        find . -name "package.json" -not -path "./node_modules/*" -not -path "./.turbo/*" | while read -r file; do
          if ! node -e "try { JSON.parse(require('fs').readFileSync('$file', 'utf8')); } catch(e) { process.exit(1); }" 2>/dev/null; then
            echo "‚ùå Invalid JSON in $file"
            exit 1
          fi
        done
        echo "‚úÖ All package.json files are valid"

    check-dependencies:
      glob: "**/package.json"
      run: |
        echo "üîç Checking for unused dependencies..."
        if command -v depcheck >/dev/null 2>&1; then
          depcheck --ignores="@types/*,@repo/*,lefthook,turbo,typescript" --skip-missing
        else
          echo "‚ö†Ô∏è  depcheck not installed, skipping dependency check"
        fi

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

pre-push:
  commands:
    lint:
      run: npx biome ci .

fix(api): improve service rolle for asset upload
  apps/dashboard/features/editor/components/assets-panel.tsx
  apps/dashboard/features/editor/components/blocks/content/link/link.tsx
  apps/dashboard/features/editor/components/rich-text/rich-text-editor.tsx
  apps/dashboard/features/editor/lib/assets-api.ts
  packages/db/src/schema/assets.ts
  packages/email-engine/src/components/email-link.tsx
  packages/email-engine/src/components/email-section.tsx
Due: format, typecheck

feat(editor): implement Image block with asset selection and i18n
  apps/dashboard/features/editor/components/asset-selection-dialog.tsx
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/components/blocks/content/image/image.definition.ts
  apps/dashboard/features/editor/components/blocks/content/image/image.tsx
  apps/dashboard/features/editor/components/blocks/content/image/index.ts
  apps/dashboard/features/editor/components/blocks/content/index.ts
  apps/dashboard/features/editor/locale/en.ts
  apps/dashboard/features/editor/locale/pl.ts
  apps/dashboard/features/editor/registry/content-components.ts
  packages/email-engine/src/components/email-image.tsx
  packages/email-engine/src/components/index.ts
Due: format, typecheck

fix(editor): auto-open image dialog and prevent close on upload interaction
  apps/dashboard/features/editor/components/asset-selection-dialog.tsx
  apps/dashboard/features/editor/components/blocks/content/image/image.tsx
Due: format, typecheck

fix(editor): prevent asset dialog close on file upload focus loss
  apps/dashboard/features/editor/components/asset-selection-dialog.tsx
Due: format, typecheck

fix(editor): stabilize asset dialog by using useParams and prevent unmount
  apps/dashboard/features/editor/components/asset-selection-dialog.tsx
Due: format, typecheck

fix(editor): remove useParams and handle missing workspaceId gracefully
  apps/dashboard/features/editor/components/asset-selection-dialog.tsx
Due: format, typecheck

feat(editor): implement image blocks with asset dialog panel
  apps/dashboard/features/editor/components/asset-selection-dialog.tsx
  apps/dashboard/features/editor/components/assets-panel.tsx
  apps/dashboard/features/editor/components/blocks/content/heading/heading.definition.ts
  apps/dashboard/features/editor/components/blocks/content/image/image.definition.ts
  apps/dashboard/features/editor/components/blocks/content/link/link.definition.ts
  apps/dashboard/features/editor/components/blocks/content/text/text.definition.ts
  apps/dashboard/features/editor/components/blocks/layout/container/container.definition.ts
  apps/dashboard/features/editor/components/blocks/layout/section/section.definition.ts
  apps/dashboard/features/editor/registry/field-groups/layout.ts
  packages/email-engine/src/attributes/layout.ts
  packages/email-engine/src/components/email-image.tsx
  packages/email-engine/src/components/email-link.tsx
  packages/email-engine/src/render-document.tsx
Due: format, typecheck

feat(editor): add button block to content components
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/components/blocks/content/button/button.definition.ts
  apps/dashboard/features/editor/components/blocks/content/button/button.tsx
  apps/dashboard/features/editor/components/blocks/content/button/index.ts
  apps/dashboard/features/editor/components/blocks/content/index.ts
  apps/dashboard/features/editor/components/blocks/layout/section/section.definition.ts
  apps/dashboard/features/editor/components/rich-text/rich-text-editor.tsx
  apps/dashboard/features/editor/registry/content-components.ts
  packages/email-engine/src/components/email-button.tsx
  packages/email-engine/src/components/index.ts
  packages/email-engine/src/render-document.tsx
Due: format, typecheck

feat(editor): add icons for all components type
  apps/dashboard/features/editor/components/blocks/content/button/button.tsx
  apps/dashboard/features/editor/components/blocks/content/link/link.tsx
  apps/dashboard/features/editor/components/component-icon.tsx
  apps/dashboard/features/editor/components/inline-text-editor.tsx
Due: format, typecheck

feat(editor): enable variable editing and saving
  apps/dashboard/features/editor/components/inspector/variables/variable-row.tsx
  apps/dashboard/features/editor/components/inspector/variables/variables-panel.tsx
Due: format, typecheck

i18n(editor): add missing translations for variable properties
  apps/dashboard/features/editor/locale/en.ts
  apps/dashboard/features/editor/locale/pl.ts
  commitlint.config.mjs
Due: format, typecheck

chore(dashboard): upgrade to Next.js 16
  apps/dashboard/app/(dashboard)/workspace/[slug]/email-templates/[id]/page.tsx
  apps/dashboard/features/editor/components/blocks/content/heading/heading.tsx
  apps/dashboard/features/editor/components/blocks/content/link/link.tsx
  apps/dashboard/features/editor/components/blocks/content/text/text.tsx
  apps/dashboard/package.json
  apps/dashboard/proxy.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

docs(ai-plan): add ui shadcn helper mdc
  .cursor/rules/ui-shadcn-helper.mdc
Due: none

chore(dashboard): upgade to nextjs v16.0.1
  apps/dashboard/package.json
  pnpm-lock.yaml
Due: format, check-package-json, check-dependencies

refactor(api): remove mjml dependency and replace with document-based architecture
  apps/api/src/modules/templates/commands/update-template/update-template.handler.ts
  apps/api/src/modules/templates/database/template.repository.port.ts
  apps/api/src/modules/templates/database/template.repository.ts
  apps/api/src/modules/templates/domain/template.domain.ts
  apps/dashboard/app/(editor)/workspace/[slug]/email-templates/[id]/edit/editor-client.tsx
  apps/dashboard/features/editor/layout/editor-header.tsx
  apps/dashboard/next.config.ts
  packages/db/src/schema/templates.ts
  packages/email-engine/package.json
  packages/email-engine/src/snapshot.ts
  packages/types/src/editor/component-registry.schema.ts
  packages/types/src/templates/create-template.schema.ts
  packages/types/src/templates/get-template.schema.ts
  packages/types/src/templates/update-template.schema.ts
  packages/validation/src/schemas/template.ts
  packages/validation/src/validators/index.ts
Due: format, typecheck, check-package-json, check-dependencies

chore(dashboard): upgrade to nextjs v16.0.7
  apps/dashboard/package.json
  pnpm-lock.yaml
Due: format, check-package-json, check-dependencies

test(validation): update template schema tests to support document structure
  packages/types/src/templates/update-template.schema.ts
  packages/validation/src/schemas/__tests__/template.test.ts
Due: format, typecheck

docs(ai-plan): update db-plan to reflect current schema implementation
  .ai/db-plan.md
Due: none

docs(ai-plan): add auth architecture spec with recovery flow
  .ai/auth-spec.md
Due: none

docs(auth): add auth ui flow diagram
  .ai/diagrams/auth-ui.md
  .cursor/rules/diagrams/mermaid-diagram-auth.mdc
  .cursor/rules/diagrams/mermaid-diagram-journey.mdc
  .cursor/rules/diagrams/mermaid-diagram-ui.mdc
Due: none

feat(auth): implement account recovery UI flow
  .cursor/rules/supabase-auth.mdc
  apps/dashboard/app/auth/forgot-password/page.tsx
  apps/dashboard/app/auth/reset-password/page.tsx
  apps/dashboard/features/auth/components/forgot-password-form.tsx
  apps/dashboard/features/auth/components/reset-password-form.tsx
  apps/dashboard/features/auth/index.ts
  apps/dashboard/features/auth/locales/en.ts
  apps/dashboard/features/auth/locales/pl.ts
  packages/utils/src/dashboard-routes.ts
Due: format, typecheck

docs(rules): update backend guidelines with current architecture
  .cursor/rules/backend.mdc
  commitlint.config.mjs
Due: none

feat(auth): implement password recovery flow with Supabase integration
  .ai/password-recovery-implementation-plan.md
  apps/api/src/modules/auth/commands/forgot-password/forgot-password.handler.ts
  apps/api/src/modules/auth/commands/forgot-password/forgot-password.route.ts
  apps/api/src/modules/auth/commands/reset-password/reset-password.handler.ts
  apps/api/src/modules/auth/commands/reset-password/reset-password.route.ts
  apps/dashboard/features/auth/api/auth-api.ts
  apps/dashboard/features/auth/components/forgot-password-form.tsx
  apps/dashboard/features/auth/components/reset-password-form.tsx
  apps/dashboard/features/auth/stores/auth-store.ts
  packages/types/src/auth/forgot-password.schema.ts
  packages/types/src/auth/index.ts
  packages/types/src/auth/reset-password.schema.ts
  packages/utils/src/api-routes.ts
Due: format, typecheck

docs(ai-plan): generate test plan for auth module
  .ai/test-plan.md
  .cursor/rules/test-plan.mdc
Due: none

docs(testing): update testing guidelines for React Email and current stack
  .cursor/rules/testing.mdc
Due: none

docs(testing): update testing guidelines for React Email and current stack
  commitlint.config.mjs
Due: none

chore(dashboard): configure testing environment with vitest and playwright
  .ai/stack.md
  apps/dashboard/e2e/.gitkeep
  apps/dashboard/e2e/example.spec.ts
  apps/dashboard/e2e/fixtures/pages/base.page.ts
  apps/dashboard/e2e/fixtures/test-data.ts
  apps/dashboard/package.json
  apps/dashboard/playwright.config.ts
  apps/dashboard/test/setup.ts
  apps/dashboard/test/utils/render.tsx
  apps/dashboard/vitest.config.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

test(dashboard): add unit tests for auth store logic
  apps/dashboard/features/auth/stores/auth-store.test.ts
  apps/dashboard/vitest.config.ts
Due: format, typecheck

test(dashboard): add unit tests for login form component
  .cursor/rules/testing-e2e-playwright.mdc
  .cursor/rules/testing-unit-vitest.mdc
  apps/dashboard/features/auth/components/__tests__/login-form.test.tsx
Due: format, typecheck

test(dashboard): add unit tests for register form
  .ai/test-plans/auth-test-plan.md
  apps/dashboard/features/auth/components/__tests__/register-form.test.tsx
Due: format, typecheck

test(dashboard): add unit tests for forgot password form
  apps/dashboard/features/auth/components/__tests__/forgot-password-form.test.tsx
Due: format, typecheck

test(dashboard): add unit tests for reset password form
  apps/dashboard/features/auth/components/__tests__/reset-password-form.test.tsx
Due: format, typecheck

test(dashboard): add e2e tests for login form with data-test-id attributes
  apps/dashboard/.gitignore
  apps/dashboard/e2e/auth/login-form.spec.ts
  apps/dashboard/e2e/fixtures/test-data.ts
  apps/dashboard/e2e/page-objects/login.page.ts
  apps/dashboard/features/auth/components/login-form.tsx
  apps/dashboard/features/auth/middleware/auth-middleware.ts
  apps/dashboard/locales/en.ts
  apps/dashboard/locales/pl.ts
  apps/dashboard/proxy.ts
Due: format, typecheck

refactor(dashboard): remove access feature module
  apps/dashboard/app/(auth)/access/page.tsx
  apps/dashboard/features/access/actions/verify-access.ts
  apps/dashboard/features/access/components/access-form.tsx
  apps/dashboard/features/access/components/index.ts
  apps/dashboard/features/access/index.ts
  apps/dashboard/features/access/locale/en.ts
  apps/dashboard/features/access/locale/index.ts
  apps/dashboard/features/access/locale/pl.ts
  apps/dashboard/features/access/middleware/access-middleware.ts
  apps/dashboard/features/access/middleware/index.ts
  biome.json
Due: format, typecheck

fix(dashboard): configure playwright to use data-test-id attribute
  apps/dashboard/.gitignore
  apps/dashboard/e2e/page-objects/login.page.ts
  apps/dashboard/playwright.config.ts
Due: format, typecheck

test(dashboard): add comprehensive e2e tests for register form
  apps/dashboard/.env.example
  apps/dashboard/.gitignore
  apps/dashboard/e2e/auth/register-form.spec.ts
  apps/dashboard/e2e/fixtures/supabase.fixture.ts
  apps/dashboard/e2e/page-objects/register.page.ts
  apps/dashboard/features/auth/components/register-form.tsx
  apps/dashboard/package.json
  apps/dashboard/playwright.config.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

test(lint): run lint files
  apps/dashboard/e2e/page-objects/register.page.ts
  apps/dashboard/features/auth/components/register-form.tsx
Due: format, typecheck

chore(license): add MIT license to package.json and root
  LICENSE
  commitlint.config.mjs
  package.json
Due: format

docs(stack): update technical stack with current implementation status
  .ai/stack.md
  commitlint.config.mjs
Due: none

docs(app): add comprehensive README with architecture overview
  README.md
Due: none
