Repository dkveil/requil: changes, and which lefthook commands are due for each by the changed paths.
All: format, typecheck, check-package-json, check-dependencies

format:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: npx turbo type-check --filter=...[HEAD] --continue

check-package-json:
  run: "echo \"üîç Checking package.json files...\"\nfind . -name \"package.json\" -not -path \"./node_modules/*\" -not -path \"./.turbo/*\" | while read -r file; do\n  if ! node -e \"try { JSON.parse(require('fs').readFileSync('$file', 'utf8')); } catch(e) { process.exit(1); }\" 2>/dev/null; then\n 
  ...

check-dependencies:
  run: "echo \"üîç Checking for unused dependencies...\"\nif command -v depcheck >/dev/null 2>&1; then\n  depcheck --ignores=\"@types/*,@repo/*,lefthook,turbo,typescript\" --skip-missing\nelse\n  echo \"‚ö†Ô∏è  depcheck not installed, skipping dependency check\"\nfi\n"

docs(ai-plan): generate ui plan for create template view
  .ai/create-template-view-implementation-plan.md
  .ai/ui-plan.md
Due: none

feat(templates): implement complete create template wizard with i18n
  apps/dashboard/app/(dashboard)/workspace/[slug]/email-templates/new/page.tsx
  apps/dashboard/features/templates/components/create-template-form.tsx
  apps/dashboard/features/templates/locale/en.ts
  apps/dashboard/features/templates/locale/pl.ts
  apps/dashboard/locales/en.ts
  apps/dashboard/locales/pl.ts
Due: format, typecheck

docs(api): add PATCH /workspace implementation plan
  .ai/api-plan.md
  .ai/endpoints/update-workspace-implementation-plan.md
Due: none

feat(api): add workspace update endpoint with owner validation
  apps/api/src/modules/workspace/commands/update-workspace/update-workspace.handler.ts
  apps/api/src/modules/workspace/commands/update-workspace/update-workspace.route.ts
  apps/api/src/modules/workspace/commands/update-workspace/update-workspace.spec.ts
  apps/api/src/modules/workspace/database/workspace.repository.port.ts
  apps/api/src/modules/workspace/database/workspace.repository.ts
  apps/api/src/modules/workspace/domain/workspace.domain.ts
  packages/types/src/workspace/index.ts
  packages/types/src/workspace/update-workspace.schema.ts
Due: format, typecheck

docs(dashboard): add ui plan for settings page
  .ai/settings-view-implementation-plan.md
Due: none

feat(dashboard): implement complete settings view with transport and api keys
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/developers/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/general/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/layout.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/transport/page.tsx
  apps/dashboard/app/providers.tsx
  apps/dashboard/features/settings/components/api-keys-table.tsx
  apps/dashboard/features/settings/components/create-api-key-dialog.tsx
  apps/dashboard/features/settings/components/custom-resend-form.tsx
  apps/dashboard/features/settings/components/settings-sidebar.tsx
  apps/dashboard/features/settings/components/smtp-config-form.tsx
  apps/dashboard/features/settings/components/transport-config.tsx
  apps/dashboard/features/settings/components/transport-status-badge.tsx
  apps/dashboard/features/settings/components/update-workspace-form.tsx
  apps/dashboard/features/settings/hooks/use-api-keys.ts
  apps/dashboard/features/settings/hooks/use-create-api-key.ts
  apps/dashboard/features/settings/hooks/use-delete-api-key.ts
  apps/dashboard/features/settings/hooks/use-transport-config.ts
  apps/dashboard/features/settings/hooks/use-update-transport.ts
  apps/dashboard/features/settings/hooks/use-update-workspace.ts
  apps/dashboard/features/settings/hooks/use-verify-transport.ts
  apps/dashboard/features/settings/index.ts
  apps/dashboard/features/settings/locale/en.ts
  apps/dashboard/features/settings/locale/index.ts
  apps/dashboard/features/settings/locale/pl.ts
  apps/dashboard/features/workspace/api/workspace-api.ts
  apps/dashboard/lib/providers/query-provider.tsx
  apps/dashboard/locales/en.ts
  apps/dashboard/locales/pl.ts
  apps/dashboard/package.json
  packages/utils/src/dashboard-routes.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

fix(dashboard): handle async paramas for settings routes
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/developers/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/general/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/layout.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/transport/page.tsx
  apps/dashboard/features/settings/components/developers-settings-client.tsx
  apps/dashboard/features/settings/components/settings-sidebar-client.tsx
  apps/dashboard/features/settings/index.ts
  apps/dashboard/features/settings/locale/en.ts
  apps/dashboard/features/settings/locale/pl.ts
Due: format, typecheck

feat(editor): add loading state for workspace settings pages
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/developers/loading.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/developers/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/general/loading.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/general/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/layout.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/transport/loading.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/transport/page.tsx
  apps/dashboard/features/settings/components/settings-sidebar-client.tsx
Due: format, typecheck

feat(api): implement complete api keys management module
  .ai/endpoints/api-keys-implementation-plan.md
  apps/api/src/modules/api-keys/commands/create-api-key/create-api-key.handler.ts
  apps/api/src/modules/api-keys/commands/create-api-key/create-api-key.route.ts
  apps/api/src/modules/api-keys/commands/revoke-api-key/revoke-api-key.handler.ts
  apps/api/src/modules/api-keys/commands/revoke-api-key/revoke-api-key.route.ts
  apps/api/src/modules/api-keys/database/api-key.repository.port.ts
  apps/api/src/modules/api-keys/database/api-key.repository.ts
  apps/api/src/modules/api-keys/domain/api-key.domain.ts
  apps/api/src/modules/api-keys/domain/api-key.error.ts
  apps/api/src/modules/api-keys/domain/api-key.types.ts
  apps/api/src/modules/api-keys/index.ts
  apps/api/src/modules/api-keys/queries/list-api-keys/list-api-keys.handler.ts
  apps/api/src/modules/api-keys/queries/list-api-keys/list-api-keys.route.ts
  packages/db/src/schema/api-keys.ts
  packages/types/package.json
  packages/types/src/api-keys/create-api-key.schema.ts
  packages/types/src/api-keys/index.ts
  packages/types/src/api-keys/list-api-keys.schema.ts
  packages/types/src/api-keys/revoke-api-key.schema.ts
  packages/types/src/index.ts
  packages/utils/package.json
  packages/utils/src/api-routes.ts
  packages/utils/src/crypto.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

test(utils): update crypto tests for async Argon2id functions
  packages/utils/src/__tests__/crypto.test.ts
Due: format, typecheck

refactor(dashboard): improve menu structure for actual routing
  apps/dashboard/app/globals.css
  apps/dashboard/features/navigation/components/sidebar.tsx
  apps/dashboard/features/navigation/constants/menu-structure.ts
  apps/dashboard/features/navigation/locale/en.ts
  apps/dashboard/features/navigation/locale/pl.ts
  apps/dashboard/features/settings/api/api-keys-api.ts
  apps/dashboard/features/settings/components/api-keys-table.tsx
  apps/dashboard/features/settings/components/create-api-key-dialog.tsx
  apps/dashboard/features/settings/hooks/use-api-keys.ts
  apps/dashboard/features/settings/hooks/use-create-api-key.ts
  apps/dashboard/features/settings/hooks/use-delete-api-key.ts
  apps/dashboard/features/settings/locale/en.ts
  packages/db/src/schema/sending.ts
  packages/db/src/schema/templates.ts
  packages/db/src/schema/usage.ts
  packages/utils/src/dashboard-routes.ts
Due: format, typecheck

fix(dashboard): prevent redirecting to no existing accounts settings route
  apps/dashboard/components/layout/header.tsx
Due: format, typecheck

docs(api): add types and schemas convention to guidelines
  .cursor/rules/backend.mdc
  packages/db/src/schema/sending.ts
Due: format, typecheck

docs(api): add implementation plan for POST /v1/send endpoint
  .ai/endpoints/post-send-implementation-plan.md
Due: none

feat(api): implement post /v1/send with rendering and validation variables schema
  .ai/endpoints/post-send-implementation-plan.md
  apps/api/.env.example
  apps/api/ENVIRONMENT.md
  apps/api/package.json
  apps/api/src/config/env.ts
  apps/api/src/modules/sending/commands/send-email/send-email.handler.ts
  apps/api/src/modules/sending/commands/send-email/send-email.route.ts
  apps/api/src/modules/sending/database/sending.repository.port.ts
  apps/api/src/modules/sending/database/sending.repository.ts
  apps/api/src/modules/sending/domain/sending.error.ts
  apps/api/src/modules/sending/index.ts
  apps/api/src/server/plugins/dual-auth.ts
  apps/api/src/shared/redis/redis.service.ts
  apps/api/src/shared/transport/transport.service.ts
  packages/db/src/schema/enums.ts
  packages/db/src/schema/sending.ts
  packages/db/src/schema/workspace.ts
  packages/types/src/api/error-codes.ts
  packages/types/src/index.ts
  packages/types/src/sending/index.ts
  packages/types/src/sending/send-email.schema.ts
  packages/utils/src/api-routes.ts
  packages/utils/src/env.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(dashboard): add gradient hero with large screenshot placeholder to auth layout
  apps/api/ENV_VARIABLES.md
  apps/dashboard/app/globals.css
  apps/dashboard/features/auth/layout/auth-layout.tsx
  packages/utils/src/dashboard-routes.ts
Due: format, typecheck

feat(dashboard): add simple screenshot to auth layout
  apps/dashboard/features/auth/layout/auth-layout.tsx
  apps/dashboard/public/images/editor-screenshot.png
Due: format, typecheck

feat(dashboard): add simple screenshot to auth layout
  apps/dashboard/app/globals.css
Due: none

build(deploy): stabilize production build pipeline and runtime deps
  apps/api/Dockerfile
  apps/api/ENVIRONMENT.md
  apps/api/ENV_VARIABLES.md
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/server/di/index.ts
  apps/api/src/server/plugins/dual-auth.ts
  apps/dashboard/app/providers.tsx
  apps/dashboard/features/auth/layout/auth-layout.tsx
  apps/dashboard/features/auth/providers/auth-init.tsx
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/components/render-children.tsx
  apps/dashboard/features/editor/layout/layers-panel.tsx
  apps/dashboard/features/editor/locale/pl.ts
  apps/dashboard/i18n/request.ts
  apps/dashboard/next.config.ts
  commitlint.config.mjs
  package.json
  packages/db/package.json
  packages/db/src/client.ts
  packages/email-engine/package.json
  packages/ratelimit/package.json
  packages/transports/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/validation/package.json
  packages/webhooks/package.json
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(dashboard): add i18n metadata to all pages && adaptive favicon with theme support
  apps/dashboard/app/(dashboard)/workspace/[slug]/email-templates/[id]/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/email-templates/new/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/email-templates/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/developers/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/general/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/settings/transport/page.tsx
  apps/dashboard/app/(editor)/workspace/[slug]/email-templates/[id]/edit/page.tsx
  apps/dashboard/app/auth/forgot-password/page.tsx
  apps/dashboard/app/auth/login/page.tsx
  apps/dashboard/app/auth/register/page.tsx
  apps/dashboard/app/auth/reset-password/page.tsx
  apps/dashboard/app/demo/editor/page.tsx
  apps/dashboard/app/layout.tsx
  apps/dashboard/lib/metadata.ts
  apps/dashboard/locales/en.ts
  apps/dashboard/locales/pl.ts
  apps/dashboard/public/images/logo/logo-icon-black.ico
  apps/dashboard/public/images/logo/logo-icon-white.ico
Due: format, typecheck

fix(types): change BlockSchema id validation from uuid to string
  apps/dashboard/features/editor/store/canvas-store.ts
  packages/types/src/editor/block-ir.schema.ts
Due: format, typecheck

build(typescript): standardize config to node22 and switch packages build to tsc
  packages/config/package.json
  packages/config/typescript/node.json
  packages/db/package.json
  packages/db/tsconfig.json
  packages/email-engine/package.json
  packages/ratelimit/package.json
  packages/transports/package.json
  packages/types/package.json
  packages/types/tsconfig.json
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/validation/package.json
  packages/webhooks/package.json
Due: format, check-package-json, check-dependencies

chore(lint): update commitlint config to match angular convention
  commitlint.config.mjs
Due: none

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  check-package-json: any of: **/package.json
  check-dependencies: any of: **/package.json
