Repository dkveil/requil: changes, and which lefthook commands are due for each by the changed paths.
All: format, typecheck, check-package-json, check-dependencies

format:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: npx turbo type-check --filter=...[HEAD] --continue

check-package-json:
  run: "echo \"üîç Checking package.json files...\"\nfind . -name \"package.json\" -not -path \"./node_modules/*\" -not -path \"./.turbo/*\" | while read -r file; do\n  if ! node -e \"try { JSON.parse(require('fs').readFileSync('$file', 'utf8')); } catch(e) { process.exit(1); }\" 2>/dev/null; then\n 
  ...

check-dependencies:
  run: "echo \"üîç Checking for unused dependencies...\"\nif command -v depcheck >/dev/null 2>&1; then\n  depcheck --ignores=\"@types/*,@repo/*,lefthook,turbo,typescript\" --skip-missing\nelse\n  echo \"‚ö†Ô∏è  depcheck not installed, skipping dependency check\"\nfi\n"

feat(editor): implement visual block editor with canvas store (test-canvas mode)
  apps/dashboard/app/(editor)/test-blocks/page.tsx
  apps/dashboard/app/(editor)/test-canvas/page.tsx
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/hooks/use-canvas.ts
  apps/dashboard/features/editor/store/canvas-store.ts
  biome.json
  packages/types/src/editor/block-ir.schema.ts
Due: format, typecheck

feat(editor): add elements sidebar with canvas area to editor
  apps/dashboard/app/(editor)/test-blocks/page.tsx
  apps/dashboard/app/(editor)/test-canvas/page.tsx
  apps/dashboard/app/(editor)/workspace/[slug]/email-templates/[id]/edit/editor-client.tsx
  apps/dashboard/app/(editor)/workspace/[slug]/email-templates/[id]/edit/page.tsx
  apps/dashboard/features/editor/components/canvas.tsx
  apps/dashboard/features/editor/layout/editor-header.tsx
  apps/dashboard/features/editor/layout/editor-layout.tsx
  apps/dashboard/features/editor/layout/elements-sidebar.tsx
  apps/dashboard/features/editor/lib/block-factory.ts
Due: format, typecheck

fix(db): remove builder types export from db package and comment old related methods
  packages/db/src/schema/enums.ts
  packages/db/src/schema/index.ts
  packages/email-engine/src/builder-to-mjml.ts
  packages/email-engine/src/render.ts
  packages/email-engine/src/snapshot.ts
  packages/email-engine/src/types.ts
  packages/email-engine/src/validate-builder.ts
  packages/email-engine/src/validate.ts
Due: format, typecheck

fix(email-engine): remove tests related with old build block types
  packages/email-engine/src/__tests__/render.test.ts
  packages/email-engine/src/__tests__/validate.test.ts
Due: format, typecheck

feat(editor): add settings sidebar with grouped property controls
  apps/dashboard/app/(editor)/workspace/[slug]/email-templates/[id]/edit/editor-client.tsx
  apps/dashboard/components/layout/header.tsx
  apps/dashboard/components/ui/select.tsx
  apps/dashboard/components/ui/tabs.tsx
  apps/dashboard/features/editor/components/inspector/property-control.tsx
  apps/dashboard/features/editor/components/inspector/section.tsx
  apps/dashboard/features/editor/components/inspector/spacing-editor.tsx
  apps/dashboard/features/editor/layout/editor-header.tsx
  apps/dashboard/features/editor/layout/editor-layout.tsx
  apps/dashboard/features/editor/layout/elements-sidebar.tsx
  apps/dashboard/features/editor/layout/settings-sidebar.tsx
  apps/dashboard/features/editor/locale/en.ts
  apps/dashboard/features/editor/locale/pl.ts
  apps/dashboard/package.json
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

refactor(editor): root as a document parent in editor
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/components/canvas.tsx
  apps/dashboard/features/editor/layout/elements-sidebar.tsx
  apps/dashboard/features/editor/layout/settings-sidebar.tsx
  apps/dashboard/features/editor/lib/block-factory.ts
  apps/dashboard/features/editor/registry/layout-components.ts
  biome.json
Due: format, typecheck

feat(editor): add drag n drop functionality for editor
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/components/blocks/column.tsx
  apps/dashboard/features/editor/components/blocks/columns.tsx
  apps/dashboard/features/editor/components/blocks/container.tsx
  apps/dashboard/features/editor/components/blocks/divider.tsx
  apps/dashboard/features/editor/components/blocks/index.ts
  apps/dashboard/features/editor/components/blocks/root.tsx
  apps/dashboard/features/editor/components/blocks/section.tsx
  apps/dashboard/features/editor/components/blocks/spacer.tsx
  apps/dashboard/features/editor/components/component-icon.tsx
  apps/dashboard/features/editor/components/drop-zone.tsx
  apps/dashboard/features/editor/layout/editor-layout.tsx
  apps/dashboard/features/editor/layout/elements-sidebar.tsx
  apps/dashboard/package.json
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(editor): add and register content elements
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/components/blocks/content/button.tsx
  apps/dashboard/features/editor/components/blocks/content/heading.tsx
  apps/dashboard/features/editor/components/blocks/content/image.tsx
  apps/dashboard/features/editor/components/blocks/content/index.ts
  apps/dashboard/features/editor/components/blocks/content/text.tsx
  apps/dashboard/features/editor/components/blocks/index.ts
  apps/dashboard/features/editor/components/blocks/layout/column.tsx
  apps/dashboard/features/editor/components/blocks/layout/columns.tsx
  apps/dashboard/features/editor/components/blocks/layout/container.tsx
  apps/dashboard/features/editor/components/blocks/layout/divider.tsx
  apps/dashboard/features/editor/components/blocks/layout/index.ts
  apps/dashboard/features/editor/components/blocks/layout/section.tsx
  apps/dashboard/features/editor/components/blocks/layout/spacer.tsx
  apps/dashboard/features/editor/components/blocks/root.tsx
  apps/dashboard/features/editor/components/inspector/property-control.tsx
  apps/dashboard/features/editor/layout/elements-sidebar.tsx
  apps/dashboard/features/editor/layout/settings-sidebar.tsx
  apps/dashboard/features/editor/locale/en.ts
  apps/dashboard/features/editor/locale/pl.ts
  apps/dashboard/features/editor/registry/component-registry.ts
  apps/dashboard/features/editor/registry/content-components.ts
  packages/types/src/editor/component-registry.schema.ts
Due: format, typecheck

feat(editor): implement drag & drop reordering for canvas blocks
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/components/blocks/layout/container.tsx
  apps/dashboard/features/editor/components/drop-zone.tsx
  apps/dashboard/features/editor/layout/editor-layout.tsx
  apps/dashboard/features/editor/locale/en.ts
  apps/dashboard/features/editor/locale/pl.ts
Due: format, typecheck

feat(editor): improve drop zone UX with full-height zones for empty containers
  apps/dashboard/features/editor/components/blocks/layout/container.tsx
  apps/dashboard/features/editor/components/drop-zone.tsx
  apps/dashboard/features/editor/layout/editor-layout.tsx
Due: format, typecheck

feat(editor): add block actions for better block management
  apps/dashboard/features/auth/stores/auth-store.ts
  apps/dashboard/features/editor/components/block-actions.tsx
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/components/blocks/layout/column.tsx
  apps/dashboard/features/editor/components/blocks/layout/columns.tsx
  apps/dashboard/features/editor/components/blocks/layout/container.tsx
  apps/dashboard/features/editor/components/blocks/layout/section.tsx
  apps/dashboard/features/editor/components/blocks/root.tsx
  apps/dashboard/features/editor/components/canvas.tsx
  apps/dashboard/features/editor/components/drop-zone.tsx
  apps/dashboard/features/editor/hooks/use-canvas.ts
  apps/dashboard/features/editor/locale/en.ts
  apps/dashboard/features/editor/locale/pl.ts
  apps/dashboard/features/editor/store/canvas-store.ts
Due: format, typecheck

refactor(editor): extract field definition by category
  apps/dashboard/features/editor/components/component-icon.tsx
Due: format, typecheck

feat(editor): add layers panel with remove block actions
  apps/dashboard/features/editor/components/block-actions.tsx
  apps/dashboard/features/editor/components/component-icon.tsx
  apps/dashboard/features/editor/components/inspector/property-control.tsx
  apps/dashboard/features/editor/layout/elements-sidebar.tsx
  apps/dashboard/features/editor/layout/layers-panel.tsx
  apps/dashboard/features/editor/locale/en.ts
  apps/dashboard/features/editor/locale/pl.ts
  apps/dashboard/features/editor/registry/content-components.ts
  apps/dashboard/features/editor/registry/fields/colors.ts
  apps/dashboard/features/editor/registry/fields/content.ts
  apps/dashboard/features/editor/registry/fields/index.ts
  apps/dashboard/features/editor/registry/fields/layout.ts
  apps/dashboard/features/editor/registry/fields/spacing.ts
  apps/dashboard/features/editor/registry/fields/typography.ts
Due: format, typecheck

feat(editor): add possibility to naming blocks
  apps/dashboard/features/auth/locales/pl.ts
  apps/dashboard/features/editor/layout/layers-panel.tsx
  apps/dashboard/features/editor/layout/settings-sidebar.tsx
  apps/dashboard/features/editor/locale/en.ts
  apps/dashboard/features/editor/locale/pl.ts
  packages/types/src/editor/block-ir.schema.ts
Due: format, typecheck

fix(editor): fix displaying of selected block with width props
  apps/dashboard/app/globals.css
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/components/blocks/layout/column.tsx
  apps/dashboard/features/editor/layout/settings-sidebar.tsx
Due: format, typecheck

refactor(editor): make section block as universal block with possibility to change html tag
  apps/dashboard/app/(editor)/test-blocks/page.tsx
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/components/blocks/layout/block.tsx
  apps/dashboard/features/editor/components/blocks/layout/container.tsx
  apps/dashboard/features/editor/components/blocks/layout/index.ts
  apps/dashboard/features/editor/components/drop-zone.tsx
  apps/dashboard/features/editor/layout/editor-layout.tsx
  apps/dashboard/features/editor/layout/layers-panel.tsx
  apps/dashboard/features/editor/layout/settings-sidebar.tsx
  apps/dashboard/features/editor/lib/block-factory.ts
  apps/dashboard/features/editor/registry/layout-components.ts
  apps/dashboard/features/editor/store/canvas-store.ts
  docs/global-styles-implementation.md
  packages/types/src/editor/block-ir.schema.ts
Due: format, typecheck

refactor(editor): modernize inspector panel with new field groups architectureq
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/components/content/button/button.definition.ts
  apps/dashboard/features/editor/components/content/heading/heading.definition.ts
  apps/dashboard/features/editor/components/content/heading/heading.tsx
  apps/dashboard/features/editor/components/content/image/image.definition.ts
  apps/dashboard/features/editor/components/content/text/text.definition.ts
  apps/dashboard/features/editor/components/content/text/text.tsx
  apps/dashboard/features/editor/components/inspector/box-control.tsx
  apps/dashboard/features/editor/components/inspector/icon-select.tsx
  apps/dashboard/features/editor/components/inspector/padding-control.tsx
  apps/dashboard/features/editor/components/inspector/property-control.tsx
  apps/dashboard/features/editor/components/inspector/radius-control.tsx
  apps/dashboard/features/editor/components/inspector/size-control.tsx
  apps/dashboard/features/editor/components/layout/block/block.definition.ts
  apps/dashboard/features/editor/components/layout/container/container.definition.ts
  apps/dashboard/features/editor/components/layout/root/root.definition.ts
  apps/dashboard/features/editor/layout/settings-sidebar.tsx
  apps/dashboard/features/editor/lib/field-utils.ts
  apps/dashboard/features/editor/lib/props-to-styles.ts
  apps/dashboard/features/editor/registry/field-groups/accessibility.ts
  apps/dashboard/features/editor/registry/field-groups/config.ts
  apps/dashboard/features/editor/registry/field-groups/index.ts
  apps/dashboard/features/editor/registry/field-groups/layout.ts
  apps/dashboard/features/editor/registry/field-groups/size.ts
  apps/dashboard/features/editor/registry/field-groups/styles.ts
  apps/dashboard/features/editor/registry/field-groups/typography.ts
  apps/dashboard/features/editor/registry/fields/colors.ts
  apps/dashboard/features/editor/registry/fields/content.ts
  apps/dashboard/features/editor/registry/fields/index.ts
  apps/dashboard/features/editor/registry/fields/layout.ts
  apps/dashboard/features/editor/registry/fields/spacing.ts
  apps/dashboard/features/editor/registry/fields/styles.ts
  apps/dashboard/features/editor/registry/fields/typography.ts
  packages/types/src/editor/component-registry.schema.ts
Due: format, typecheck

feat(editor): add social icons block
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/components/content/heading/heading.definition.ts
  apps/dashboard/features/editor/components/content/index.ts
  apps/dashboard/features/editor/components/content/social-icons/index.ts
  apps/dashboard/features/editor/components/content/social-icons/social-icons.definition.ts
  apps/dashboard/features/editor/components/content/social-icons/social-icons.tsx
Due: format, typecheck

feat(editor): add propert control for array fields
  apps/dashboard/features/editor/components/content/button/button.definition.ts
  apps/dashboard/features/editor/components/content/social-icons/social-icons.definition.ts
  apps/dashboard/features/editor/components/content/text/text.definition.ts
  apps/dashboard/features/editor/components/inspector/controls/array-control.tsx
  apps/dashboard/features/editor/components/inspector/controls/box-control.tsx
  apps/dashboard/features/editor/components/inspector/controls/icon-select.tsx
  apps/dashboard/features/editor/components/inspector/controls/padding-control.tsx
  apps/dashboard/features/editor/components/inspector/controls/radius-control.tsx
  apps/dashboard/features/editor/components/inspector/controls/size-control.tsx
  apps/dashboard/features/editor/components/inspector/property-control.tsx
  apps/dashboard/features/editor/layout/settings-sidebar.tsx
  packages/types/src/editor/component-registry.schema.ts
Due: format, typecheck

refactor(editor): buttom improvements
  apps/dashboard/app/globals.css
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/components/component-icon.tsx
  apps/dashboard/features/editor/components/content/button/button.definition.ts
  apps/dashboard/features/editor/components/content/button/button.tsx
  apps/dashboard/features/editor/components/inspector/controls/box-control.tsx
  apps/dashboard/features/editor/components/inspector/controls/size-control.tsx
Due: format, typecheck

feat(editor): enhance drag precision
  apps/dashboard/app/globals.css
  apps/dashboard/components/ui/select.tsx
  apps/dashboard/features/editor/layout/editor-layout.tsx
Due: format, typecheck

fix(editor): sync column count with add/remove operations
  apps/dashboard/features/editor/components/inspector/property-control.tsx
  apps/dashboard/features/editor/components/layout/column/column.definition.ts
  apps/dashboard/features/editor/components/layout/columns/columns.definition.ts
  apps/dashboard/features/editor/lib/block-factory.ts
  apps/dashboard/features/editor/store/canvas-store.ts
Due: format, typecheck

fix(editor): fix mobile template view and improve columns behavior on stack on mobile
  apps/dashboard/components/ui/select.tsx
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/components/canvas.tsx
  apps/dashboard/features/editor/components/layout/block/block.tsx
  apps/dashboard/features/editor/components/layout/column/column.tsx
  apps/dashboard/features/editor/components/layout/columns/columns.tsx
  apps/dashboard/features/editor/components/layout/container/container-block.tsx
  apps/dashboard/features/editor/components/layout/container/container.tsx
  apps/dashboard/features/editor/components/layout/root/root.tsx
Due: format, typecheck

feat(editor): add list content block
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/components/component-icon.tsx
  apps/dashboard/features/editor/components/content/index.ts
  apps/dashboard/features/editor/components/content/list/index.ts
  apps/dashboard/features/editor/components/content/list/list.definition.ts
  apps/dashboard/features/editor/components/content/list/list.tsx
Due: format, typecheck

feat(editor): extend list block for more options
  apps/dashboard/features/editor/components/content/list/list.definition.ts
  apps/dashboard/features/editor/components/content/list/list.tsx
  apps/dashboard/features/editor/components/inspector/controls/array-control.tsx
  apps/dashboard/features/editor/components/inspector/controls/box-control.tsx
  apps/dashboard/features/editor/components/inspector/controls/padding-control.tsx
  apps/dashboard/features/editor/components/inspector/property-control.tsx
  apps/dashboard/features/editor/registry/field-groups/config.ts
  apps/dashboard/features/editor/registry/field-groups/layout.ts
Due: format, typecheck

feat(editor): add link to field group for blocks
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/components/content/button/button.tsx
  apps/dashboard/features/editor/components/content/image/image.definition.ts
  apps/dashboard/features/editor/components/content/image/image.tsx
  apps/dashboard/features/editor/components/inspector/property-control.tsx
  apps/dashboard/features/editor/components/layout/block/block.definition.ts
  apps/dashboard/features/editor/components/layout/container/container-block.tsx
  apps/dashboard/features/editor/components/layout/container/container.definition.ts
  apps/dashboard/features/editor/registry/field-groups/accessibility.ts
  apps/dashboard/features/editor/registry/field-groups/index.ts
  apps/dashboard/features/editor/registry/field-groups/link.ts
  packages/types/src/editor/component-registry.schema.ts
Due: format, typecheck

feat(editor): add quote block
  apps/dashboard/features/editor/components/block-renderer.tsx
  apps/dashboard/features/editor/components/component-icon.tsx
  apps/dashboard/features/editor/components/content/index.ts
  apps/dashboard/features/editor/components/content/quote/index.ts
  apps/dashboard/features/editor/components/content/quote/quote.definition.ts
  apps/dashboard/features/editor/components/content/quote/quote.tsx
Due: format, typecheck

feat(editor): add inline text editing for content blocks
  apps/dashboard/features/editor/components/content/heading/heading.tsx
  apps/dashboard/features/editor/components/content/text/text.tsx
  apps/dashboard/features/editor/components/inline-text-editor.tsx
  apps/dashboard/features/editor/hooks/use-canvas.ts
  apps/dashboard/features/editor/store/canvas-store.ts
Due: format, typecheck

feat(editor): add email settings modal
  apps/dashboard/app/(editor)/workspace/[slug]/email-templates/[id]/edit/editor-client.tsx
  apps/dashboard/components/ui/dialog.tsx
  apps/dashboard/features/editor/components/email-settings-modal.tsx
  apps/dashboard/features/editor/hooks/use-canvas.ts
  apps/dashboard/features/editor/hooks/use-editor.tsx
  apps/dashboard/features/editor/layout/editor-header.tsx
  apps/dashboard/features/editor/locale/en.ts
  apps/dashboard/features/editor/locale/pl.ts
  apps/dashboard/features/editor/store/canvas-store.ts
  apps/dashboard/features/editor/store/editor-store.tsx
  apps/dashboard/package.json
  packages/types/src/editor/block-ir.schema.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

chore(cursor): optimize AI rules to reduce token costs
  .cursor/rules/README.md
  .cursor/rules/core.mdc
  .cursor/rules/project.mdc
  .cursor/rules/shared.mdc
  .cursor/rules/turborepo.mdc
  .cursorignore
Due: none

refactor(email-engine): modularize MJML conversion and fix block rendering
  apps/dashboard/features/editor/actions/generate-html-preview.ts
  apps/dashboard/features/editor/components/html-preview-modal.tsx
  apps/dashboard/features/editor/layout/editor-header.tsx
  apps/dashboard/next.config.ts
  packages/email-engine/package.json
  packages/email-engine/src/__tests__/block-types.test.ts
  packages/email-engine/src/__tests__/guardrails.test.ts
  packages/email-engine/src/__tests__/real-document.test.ts
  packages/email-engine/src/ambient.d.ts
  packages/email-engine/src/block-ir-to-mjml.ts
  packages/email-engine/src/blocks/block.ts
  packages/email-engine/src/blocks/button.ts
  packages/email-engine/src/blocks/column.ts
  packages/email-engine/src/blocks/columns.ts
  packages/email-engine/src/blocks/container.ts
  packages/email-engine/src/blocks/list.ts
  packages/email-engine/src/blocks/quote.ts
  packages/email-engine/src/blocks/root.ts
  packages/email-engine/src/blocks/social-icons.ts
  packages/email-engine/src/blocks/text.ts
  packages/email-engine/src/builder-to-mjml.ts
  packages/email-engine/src/guardrails.ts
  packages/email-engine/src/index.ts
  packages/email-engine/src/styles/accessibility.ts
  packages/email-engine/src/styles/css-reset.ts
  packages/email-engine/src/styles/layout.ts
  packages/email-engine/src/styles/link.ts
  packages/email-engine/src/styles/size.ts
  packages/email-engine/src/styles/styles.ts
  packages/email-engine/src/styles/typography.ts
  packages/email-engine/src/utils/constants.ts
  packages/email-engine/src/utils/format.ts
  packages/email-engine/src/utils/icons.ts
  packages/email-engine/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: format, typecheck, check-package-json, check-dependencies

feat(dashboard): enhance workspace overview with stats and roadmap
  apps/api/package.json
  apps/api/src/modules/templates/commands/update-template/update-template.handler.ts
  apps/api/src/modules/templates/commands/update-template/update-template.route.ts
  apps/api/src/modules/templates/database/template.repository.port.ts
  apps/api/src/modules/templates/database/template.repository.ts
  apps/dashboard/app/(dashboard)/workspace/[slug]/workspace-client.tsx
  apps/dashboard/app/(editor)/workspace/[slug]/email-templates/[id]/edit/editor-client.tsx
  apps/dashboard/features/editor/components/dev-info-banner.tsx
  apps/dashboard/features/editor/layout/editor-header.tsx
  apps/dashboard/features/editor/layout/editor-layout.tsx
  apps/dashboard/features/editor/locale/en.ts
  apps/dashboard/features/editor/locale/pl.ts
  apps/dashboard/features/templates/api/templates-api.ts
  apps/dashboard/features/workspace/locale/en.ts
  apps/dashboard/features/workspace/locale/index.ts
  apps/dashboard/features/workspace/locale/pl.ts
  apps/dashboard/locales/en.ts
  apps/dashboard/locales/pl.ts
  apps/dashboard/package.json
  packages/email-engine/package.json
  packages/types/src/templates/index.ts
  packages/types/src/templates/update-template.schema.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(templates): refactor templates list to render-style list view
  apps/dashboard/features/templates/components/templates-list.tsx
  commitlint.config.mjs
Due: format, typecheck

feat(workspace): add disabled state with toast for unavailable features in navigation sidebar
  apps/dashboard/features/navigation/components/nav-item.tsx
  apps/dashboard/features/navigation/components/sidebar.tsx
  apps/dashboard/features/navigation/locale/en.ts
  apps/dashboard/features/navigation/locale/pl.ts
Due: format, typecheck

feat(access): implement beta access control with secure middleware
  apps/dashboard/app/(auth)/access/page.tsx
  apps/dashboard/app/api/access/verify/route.ts
  apps/dashboard/features/access/components/access-form.tsx
  apps/dashboard/features/access/components/index.ts
  apps/dashboard/features/access/index.ts
  apps/dashboard/features/access/locale/en.ts
  apps/dashboard/features/access/locale/index.ts
  apps/dashboard/features/access/locale/pl.ts
  apps/dashboard/features/access/middleware/access-middleware.ts
  apps/dashboard/features/access/middleware/index.ts
  apps/dashboard/locales/en.ts
  apps/dashboard/locales/pl.ts
  apps/dashboard/middleware.ts
  commitlint.config.mjs
Due: format, typecheck

fix(ci): skip lefthook installation in ci environments for railway deployment
  .npmrc
  package.json
Due: format

fix(api): change nvmrc to use exact node version for railway mise compatibility
  apps/api/.nvmrc
Due: none

feat(api): add dockerfile and docker-compose for railway deployment
  .dockerignore
  apps/api/.dockerignore
  apps/api/Dockerfile
  docker-compose.dev.yml
  docker-compose.yml
  packages/config/.gitignore
  packages/config/env/index.ts
  packages/config/package.json
  packages/config/tsconfig.json
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  check-package-json: any of: **/package.json
  check-dependencies: any of: **/package.json
