Repository dkveil/requil: changes, and which lefthook commands are due for each by the changed paths.
All: format, typecheck, check-package-json, check-dependencies

format:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: npx turbo type-check --filter=...[HEAD] --continue

check-package-json:
  run: "echo \"üîç Checking package.json files...\"\nfind . -name \"package.json\" -not -path \"./node_modules/*\" -not -path \"./.turbo/*\" | while read -r file; do\n  if ! node -e \"try { JSON.parse(require('fs').readFileSync('$file', 'utf8')); } catch(e) { process.exit(1); }\" 2>/dev/null; then\n 
  ...

check-dependencies:
  run: "echo \"üîç Checking for unused dependencies...\"\nif command -v depcheck >/dev/null 2>&1; then\n  depcheck --ignores=\"@types/*,@repo/*,lefthook,turbo,typescript\" --skip-missing\nelse\n  echo \"‚ö†Ô∏è  depcheck not installed, skipping dependency check\"\nfi\n"

test(api): prepare tests for example endpoint
  apps/api/package.json
  apps/api/src/modules/example/__tests__/example.mapper.test.ts
  apps/api/src/modules/example/commands/create-example/__tests__/create-example.handler.test.ts
  apps/api/src/modules/example/commands/delete-example/__tests__/delete-example.handler.test.ts
  apps/api/src/modules/example/database/__tests__/example.repository.test.ts
  apps/api/src/modules/example/domain/__tests__/example.domain.test.ts
  apps/api/src/modules/example/domain/__tests__/example.error.test.ts
  apps/api/src/modules/example/queries/find-examples/__tests__/find-examples.handler.test.ts
  apps/api/src/server/di/util.spec.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(api): prepare auth middleware base on supabase
  apps/api/package.json
  apps/api/src/config/env.ts
  apps/api/src/modules/auth/commands/login/login.handler.ts
  apps/api/src/modules/auth/commands/login/login.route.ts
  apps/api/src/modules/auth/commands/login/login.schema.ts
  apps/api/src/modules/auth/commands/register/register.handler.ts
  apps/api/src/modules/auth/commands/register/register.route.ts
  apps/api/src/modules/auth/commands/register/register.schema.ts
  apps/api/src/modules/auth/index.ts
  apps/api/src/modules/example/commands/delete-example/delete-example.handler.ts
  apps/api/src/server/plugins/auth.ts
  apps/api/src/server/plugins/supabase.ts
  apps/dashboard/lib/supabase/client.ts
  apps/dashboard/package.json
  packages/config/env/supabase.ts
  packages/db/src/schema/types.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(dashboard): generate simple login and register view
  apps/dashboard/app/auth/callback/route.ts
  apps/dashboard/app/auth/check-email/page.tsx
  apps/dashboard/app/auth/layout.tsx
  apps/dashboard/app/auth/login/page.tsx
  apps/dashboard/app/auth/register/page.tsx
  apps/dashboard/app/dashboard/page.tsx
  apps/dashboard/app/layout.tsx
  apps/dashboard/components/ui/alert.tsx
  apps/dashboard/components/ui/button.tsx
  apps/dashboard/components/ui/input.tsx
  apps/dashboard/components/ui/label.tsx
  apps/dashboard/lib/auth/auth-context.tsx
  apps/dashboard/lib/supabase/client.ts
  apps/dashboard/lib/supabase/server.ts
  apps/dashboard/middleware.ts
  apps/dashboard/tsconfig.json
Due: format, typecheck

test
  apps/api/src/modules/auth/commands/logout/logout.handler.ts
  apps/api/src/modules/auth/commands/logout/logout.route.ts
  apps/api/src/modules/auth/commands/logout/logout.schema.ts
  apps/api/src/modules/auth/commands/refresh-token/refresh-token.handler.ts
  apps/api/src/modules/auth/commands/refresh-token/refresh-token.route.ts
  apps/api/src/modules/auth/commands/refresh-token/refresh-token.schema.ts
  apps/api/src/modules/auth/queries/get-session/get-session.route.ts
  apps/api/src/modules/auth/queries/get-session/get-session.schema.ts
  apps/dashboard/app/auth/callback/route.ts
  apps/dashboard/app/auth/check-email/page.tsx
  apps/dashboard/app/auth/login/page.tsx
  apps/dashboard/app/auth/register/page.tsx
  apps/dashboard/lib/api/client.ts
  apps/dashboard/lib/auth/auth-context.tsx
  apps/dashboard/lib/auth/token-storage.ts
  apps/dashboard/lib/supabase/client.ts
  apps/dashboard/lib/supabase/server.ts
  apps/dashboard/middleware.ts
  apps/dashboard/package.json
Due: format, typecheck, check-package-json, check-dependencies

feat(api): add standardized response wrapper with success/error schema
  apps/api/src/modules/auth/commands/login/login.route.ts
  apps/api/src/modules/auth/commands/logout/logout.handler.ts
  apps/api/src/modules/auth/commands/logout/logout.route.ts
  apps/api/src/modules/auth/commands/refresh-token/refresh-token.route.ts
  apps/api/src/modules/auth/commands/register/register.route.ts
  apps/api/src/modules/auth/queries/get-session/get-session.route.ts
  apps/api/src/server/plugins/error-handler.ts
  apps/api/src/shared/app/response-wrapper.ts
  apps/dashboard/lib/api/client.ts
  apps/dashboard/lib/handlers/fetch.ts
  packages/types/src/api/error-codes.ts
  packages/types/src/api/error-response.schema.ts
  packages/types/src/api/response.schema.ts
  packages/types/src/auth/logout.schema.ts
Due: format, typecheck

refactor(dashboard): restructure to feature-based architecture
  apps/dashboard/app/(dashboard)/page.tsx
  apps/dashboard/app/auth/login/page.tsx
  apps/dashboard/app/auth/register/page.tsx
  apps/dashboard/app/layout.tsx
  apps/dashboard/app/page.tsx
  apps/dashboard/features/auth/api/auth-api.ts
  apps/dashboard/features/auth/components/login-form.tsx
  apps/dashboard/features/auth/components/register-form.tsx
  apps/dashboard/features/auth/hooks/use-auth.ts
  apps/dashboard/features/auth/index.ts
  apps/dashboard/features/auth/middleware/auth-middleware.ts
  apps/dashboard/features/auth/providers/auth-provider.tsx
  apps/dashboard/lib/api/client.ts
  apps/dashboard/lib/api/error.ts
  apps/dashboard/lib/api/index.ts
  apps/dashboard/lib/handlers/fetch.ts
  apps/dashboard/middleware.ts
Due: format, typecheck

fix(auth): fix middleware session handling and add api routes constants
  apps/api/src/modules/auth/commands/login/login.route.ts
  apps/api/src/modules/auth/commands/logout/logout.route.ts
  apps/api/src/modules/auth/commands/refresh-token/refresh-token.route.ts
  apps/api/src/modules/auth/commands/register/register.route.ts
  apps/api/src/modules/auth/queries/get-session/get-session.route.ts
  apps/api/src/server/plugins/auth.ts
  apps/api/src/server/plugins/error-handler.ts
  apps/api/src/shared/app/response-wrapper.ts
  apps/dashboard/app/auth/layout.tsx
  apps/dashboard/app/globals.css
  apps/dashboard/features/auth/api/auth-api.ts
  apps/dashboard/features/auth/index.ts
  apps/dashboard/features/auth/middleware/auth-middleware.ts
  apps/dashboard/lib/api/client.ts
  apps/dashboard/middleware.ts
  packages/utils/package.json
  packages/utils/src/api-routes.ts
Due: format, typecheck, check-package-json, check-dependencies

feat(dashboard): setup shadcn with theme-provider
  apps/dashboard/app/globals.css
  apps/dashboard/app/providers.tsx
  apps/dashboard/components.json
  apps/dashboard/components/layout/theme-toggle.tsx
  apps/dashboard/components/ui/alert.tsx
  apps/dashboard/components/ui/button.tsx
  apps/dashboard/components/ui/dropdown-menu.tsx
  apps/dashboard/components/ui/input.tsx
  apps/dashboard/features/auth/components/register-form.tsx
  apps/dashboard/lib/providers/theme-provider.tsx
  apps/dashboard/lib/utils.ts
  apps/dashboard/package.json
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(dashboard): prepare i18n with translates
  apps/dashboard/app/layout.tsx
  apps/dashboard/app/providers.tsx
  apps/dashboard/features/auth/components/login-form.tsx
  apps/dashboard/features/auth/components/register-form.tsx
  apps/dashboard/features/auth/locales/en.ts
  apps/dashboard/features/auth/locales/index.ts
  apps/dashboard/features/auth/locales/pl.ts
  apps/dashboard/i18n/i18n.config.ts
  apps/dashboard/i18n/request.ts
  apps/dashboard/locales/en.ts
  apps/dashboard/locales/pl.ts
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(dashboard): complete auth credientals with new design and auth layout
  apps/dashboard/app/actions/locale.ts
  apps/dashboard/app/auth/login/page.tsx
  apps/dashboard/app/auth/register/page.tsx
  apps/dashboard/app/layout.tsx
  apps/dashboard/components/layout/index.ts
  apps/dashboard/components/layout/language-toggle.tsx
  apps/dashboard/components/ui/button.tsx
  apps/dashboard/components/ui/field.tsx
  apps/dashboard/components/ui/form.tsx
  apps/dashboard/components/ui/label.tsx
  apps/dashboard/components/ui/sonner.tsx
  apps/dashboard/features/auth/components/login-form.tsx
  apps/dashboard/features/auth/components/register-form.tsx
  apps/dashboard/features/auth/layout/auth-layout.tsx
  apps/dashboard/features/auth/locales/en.ts
  apps/dashboard/features/auth/locales/pl.ts
  apps/dashboard/i18n/request.ts
  apps/dashboard/lib/api/error.ts
  apps/dashboard/lib/providers/theme-provider.tsx
  apps/dashboard/locales/en.ts
  apps/dashboard/locales/pl.ts
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  packages/utils/package.json
  packages/utils/src/dashboard-routes.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

refactor(dashboard): zustand as context store for auth
  apps/dashboard/app/(dashboard)/page.tsx
  apps/dashboard/app/not-found.tsx
  apps/dashboard/app/providers.tsx
  apps/dashboard/features/auth/components/login-form.tsx
  apps/dashboard/features/auth/components/register-form.tsx
  apps/dashboard/features/auth/hooks/use-auth.ts
  apps/dashboard/features/auth/index.ts
  apps/dashboard/features/auth/providers/auth-init.tsx
  apps/dashboard/features/auth/providers/auth-provider.tsx
  apps/dashboard/features/auth/stores/auth-store.ts
  apps/dashboard/package.json
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(dashboard): rxjs setup
  apps/dashboard/features/auth/layout/auth-layout.tsx
  apps/dashboard/lib/hooks/index.ts
  apps/dashboard/lib/hooks/use-observable.ts
  apps/dashboard/lib/logger.ts
  apps/dashboard/package.json
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(workspace): add domain layer and repository
  apps/api/src/modules/workspace/database/workspace.repository.port.ts
  apps/api/src/modules/workspace/database/workspace.repository.ts
  apps/api/src/modules/workspace/domain/workspace.domain.ts
  apps/api/src/modules/workspace/domain/workspace.error.ts
  apps/api/src/modules/workspace/domain/workspace.type.ts
  commitlint.config.mjs
  packages/db/src/schema/api-keys.ts
  packages/db/src/schema/auth.ts
  packages/db/src/schema/events.ts
  packages/db/src/schema/relations.ts
  packages/db/src/schema/sending.ts
  packages/db/src/schema/subscribers.ts
  packages/db/src/schema/suppression.ts
  packages/db/src/schema/templates.ts
  packages/db/src/schema/usage.ts
  packages/db/src/schema/workspace.ts
  packages/types/src/api/error-codes.ts
Due: format, typecheck

feat(workspace): add create workspace endpoint
  apps/api/src/modules/workspace/commands/create-workspace/create-workspace.handler.ts
  apps/api/src/modules/workspace/commands/create-workspace/create-workspace.route.ts
  apps/api/src/modules/workspace/domain/workspace.error.ts
  apps/api/src/modules/workspace/index.ts
  packages/db/src/schema/workspace.ts
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/workspace/create-workspace.schema.ts
  packages/types/src/workspace/index.ts
  packages/utils/src/api-routes.ts
Due: format, typecheck, check-package-json, check-dependencies

feat(workspace): add workspace_type for personal workspaces in MVP
  apps/api/src/modules/workspace/commands/create-workspace/create-workspace.handler.ts
  apps/api/src/modules/workspace/database/workspace.repository.port.ts
  apps/api/src/modules/workspace/database/workspace.repository.ts
  apps/api/src/modules/workspace/domain/workspace.domain.ts
  packages/db/src/migrations/0000_magenta_killmonger.sql
  packages/db/src/migrations/20251021090000_create_core_schema.sql
  packages/db/src/migrations/meta/0000_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema/index.ts
  packages/db/src/schema/types.ts
  packages/db/src/schema/workspace.ts
Due: format, typecheck

test(api): fix example module test assertions
  apps/api/src/modules/example/commands/delete-example/__tests__/delete-example.handler.test.ts
  apps/api/src/modules/example/queries/find-examples/__tests__/find-examples.handler.test.ts
  biome.json
Due: format, typecheck

feat(workspace): remove type property in workspace schema
  apps/api/src/modules/workspace/database/workspace.repository.ts
  apps/api/src/modules/workspace/domain/workspace.domain.ts
  packages/db/src/migrations/0000_new_raza.sql
  packages/db/src/migrations/meta/0000_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema/workspace.ts
Due: format, typecheck

test(validation): fix validation tests
  packages/validation/src/middleware/__tests__/error-formatter.test.ts
Due: format, typecheck

feat(dashboard): add welcome view with creating first workspace
  apps/api/src/modules/workspace/commands/create-workspace/create-workspace.handler.ts
  apps/api/src/modules/workspace/database/workspace.repository.port.ts
  apps/api/src/modules/workspace/database/workspace.repository.ts
  apps/api/src/modules/workspace/domain/workspace.domain.ts
  apps/api/src/modules/workspace/domain/workspace.type.ts
  apps/api/src/modules/workspace/queries/find-user-workspaces/find-user-workspaces.handler.ts
  apps/api/src/modules/workspace/queries/find-user-workspaces/find-user-workspaces.route.ts
  apps/dashboard/app/(dashboard)/page.tsx
  apps/dashboard/app/(dashboard)/welcome/page.tsx
  apps/dashboard/components/loading-screen.tsx
  apps/dashboard/components/ui/badge.tsx
  apps/dashboard/components/ui/card.tsx
  apps/dashboard/components/ui/progress.tsx
  apps/dashboard/components/ui/radio-group.tsx
  apps/dashboard/features/auth/components/login-form.tsx
  apps/dashboard/features/auth/components/register-form.tsx
  apps/dashboard/features/welcome/components/index.ts
  apps/dashboard/features/welcome/components/pricing-step.tsx
  apps/dashboard/features/welcome/components/welcome-container.tsx
  apps/dashboard/features/welcome/components/welcome-progress.tsx
  apps/dashboard/features/welcome/components/workspace-step.tsx
  apps/dashboard/features/welcome/index.ts
  apps/dashboard/features/welcome/locales/en.ts
  apps/dashboard/features/welcome/locales/index.ts
  apps/dashboard/features/welcome/locales/pl.ts
  apps/dashboard/features/welcome/stores/welcome-store.ts
  apps/dashboard/features/workspace/api/workspace-api.ts
  apps/dashboard/features/workspace/index.ts
  apps/dashboard/features/workspace/stores/workspace-store.ts
  apps/dashboard/locales/en.ts
  apps/dashboard/locales/pl.ts
  apps/dashboard/package.json
  packages/db/src/schema/workspace.ts
  packages/types/src/workspace/create-workspace.schema.ts
  packages/types/src/workspace/find-user-workspaces.schema.ts
  packages/types/src/workspace/index.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(api): add user accounts with plan billing config and free tier
  apps/api/src/modules/auth/commands/register/register.handler.ts
  apps/api/src/modules/auth/commands/register/register.route.ts
  apps/api/src/modules/billing/database/user-account.repository.port.ts
  apps/api/src/modules/billing/database/user-account.repository.ts
  apps/api/src/modules/billing/domain/plan-limits.config.ts
  apps/api/src/modules/billing/index.ts
  apps/api/src/modules/billing/queries/get-account/get-account.handler.ts
  apps/api/src/modules/billing/queries/get-account/get-account.route.ts
  apps/api/src/modules/workspace/commands/create-workspace/create-workspace.handler.ts
  apps/dashboard/actions/locale.ts
  apps/dashboard/components/layout/language-toggle.tsx
  commitlint.config.mjs
  packages/db/.gitignore
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema/enums.ts
  packages/db/src/schema/index.ts
  packages/db/src/schema/user-accounts.ts
  packages/types/package.json
  packages/types/src/billing/index.ts
  packages/types/src/billing/plan-limits.schema.ts
  packages/types/src/index.ts
  packages/utils/src/api-routes.ts
Due: format, typecheck, check-package-json, check-dependencies

refactor(db): use plan limits type from schema in db package
  packages/db/package.json
  packages/db/src/schema/index.ts
  packages/db/src/schema/user-accounts.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

refactor(api): restructure billing module into users module
  apps/api/src/modules/users/billing/database/user-account.repository.port.ts
  apps/api/src/modules/users/billing/database/user-account.repository.ts
  apps/api/src/modules/users/billing/domain/plan-limits.config.ts
  apps/api/src/modules/users/billing/index.ts
  apps/api/src/modules/users/billing/queries/get-account/get-account.handler.ts
  apps/api/src/modules/users/billing/queries/get-account/get-account.route.ts
  apps/api/src/modules/workspace/commands/create-workspace/create-workspace.handler.ts
  apps/dashboard/features/auth/middleware/auth-middleware.ts
  packages/db/src/schema/user-accounts.ts
Due: format, typecheck

refactor(api): restructure user accounts module to accounts module
  apps/api/src/modules/accounts/database/account.repository.port.ts
  apps/api/src/modules/accounts/database/account.repository.ts
  apps/api/src/modules/accounts/domain/plan-limits.config.ts
  apps/api/src/modules/accounts/index.ts
  apps/api/src/modules/accounts/queries/get-account/get-account.handler.ts
  apps/api/src/modules/accounts/queries/get-account/get-account.route.ts
  apps/api/src/modules/auth/commands/register/register.handler.ts
  apps/api/src/modules/users/billing/database/user-account.repository.port.ts
  apps/api/src/modules/users/billing/index.ts
  apps/api/src/modules/workspace/commands/create-workspace/create-workspace.handler.ts
  packages/db/.gitignore
  packages/db/src/migrations/0000_new_raza.sql
  packages/db/src/migrations/meta/0000_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema/accounts.ts
  packages/db/src/schema/index.ts
  packages/types/src/billing/plan-limits.schema.ts
Due: format, typecheck

feat(auth): delete auth user if account creation fails
  apps/api/src/modules/auth/commands/register/register.handler.ts
Due: format, typecheck

refactor(types): extract plan config to common types package
  apps/api/src/modules/accounts/domain/plan-limits.config.ts
  apps/dashboard/features/welcome/components/pricing-step.tsx
  apps/dashboard/features/welcome/locales/en.ts
  packages/db/src/schema/accounts.ts
  packages/types/src/billing/index.ts
  packages/types/src/billing/plan-limits.config.ts
  packages/types/src/billing/plan-limits.schema.ts
Due: format, typecheck

refactor(types): extract plan config to common types package
  apps/dashboard/features/welcome/components/welcome-container.tsx
  apps/dashboard/features/welcome/locales/en.ts
  apps/dashboard/features/welcome/locales/pl.ts
  packages/types/src/billing/plan-limits.config.ts
Due: format, typecheck

feat(workspace): implement cookie-based workspace persistence with RxJS
  apps/dashboard/app/(dashboard)/layout.tsx
  apps/dashboard/app/(dashboard)/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/workspace-client.tsx
  apps/dashboard/features/auth/middleware/auth-middleware.ts
  apps/dashboard/features/auth/stores/auth-store.ts
  apps/dashboard/features/welcome/locales/pl.ts
  apps/dashboard/features/workspace/components/workspace-switcher.tsx
  apps/dashboard/features/workspace/hooks/use-workspace.ts
  apps/dashboard/features/workspace/index.ts
  apps/dashboard/features/workspace/providers/workspace-provider.tsx
  apps/dashboard/features/workspace/server.ts
  apps/dashboard/features/workspace/services/workspace-cache.server.ts
  apps/dashboard/features/workspace/services/workspace-cache.service.ts
  apps/dashboard/features/workspace/services/workspace.service.ts
  apps/dashboard/lib/cookies/cookie-utils.ts
  packages/utils/src/dashboard-routes.ts
Due: format, typecheck

feat(dashboard): add navigation sidebar for workspace dashboard
  apps/dashboard/app/(dashboard)/layout.tsx
  apps/dashboard/app/(dashboard)/loading.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/workspace-client.tsx
  apps/dashboard/components/layout/language-toggle.tsx
  apps/dashboard/components/layout/theme-toggle.tsx
  apps/dashboard/components/logo-small.tsx
  apps/dashboard/components/logo.tsx
  apps/dashboard/components/ui/tooltip.tsx
  apps/dashboard/features/auth/layout/auth-layout.tsx
  apps/dashboard/features/auth/middleware/auth-middleware.ts
  apps/dashboard/features/navigation/components/nav-item.tsx
  apps/dashboard/features/navigation/components/sidebar.tsx
  apps/dashboard/features/navigation/constants/menu-structure.ts
  apps/dashboard/features/navigation/hooks/use-sidebar.ts
  apps/dashboard/features/navigation/index.ts
  apps/dashboard/features/navigation/locale/en.ts
  apps/dashboard/features/navigation/locale/pl.ts
  apps/dashboard/features/workspace/components/workspace-switcher.tsx
  apps/dashboard/locales/en.ts
  apps/dashboard/locales/pl.ts
  apps/dashboard/package.json
  packages/utils/src/dashboard-routes.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

refactor(workspace): migrate from RxJS to Zustand for state management
  apps/dashboard/features/auth/stores/auth-store.ts
  apps/dashboard/features/workspace/hooks/use-workspace.ts
  apps/dashboard/features/workspace/index.ts
  apps/dashboard/features/workspace/services/workspace-cache_rxjs.service.ts
  apps/dashboard/features/workspace/services/workspace_rxjs.service.ts
  apps/dashboard/features/workspace/stores/workspace-store.ts
  apps/dashboard/lib/hooks/index.ts
  apps/dashboard/lib/hooks/use-observable_rxjs.ts
Due: format, typecheck

feat(dashboard): add pino logger for dashboard logs
  apps/dashboard/features/workspace/services/workspace-cache-rxjs.service.ts
  apps/dashboard/features/workspace/services/workspace-cache.server.ts
  apps/dashboard/features/workspace/services/workspace-rxjs.service.ts
  apps/dashboard/features/workspace/stores/workspace-store.ts
  apps/dashboard/lib/hooks/index.ts
  apps/dashboard/lib/hooks/use-observable-rxjs.ts
  apps/dashboard/lib/logger.ts
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

ci: add api to github CI/CD workflow
  .github/workflows/ci.yml
Due: none

refactor(db): remove db generation from turbo scripts
  package.json
  turbo.json
Due: format

feat(api): add api handler for oauth sessions
  .env.example
  apps/api/src/modules/auth/commands/ouath/ouath-callback.handler.ts
  apps/api/src/modules/auth/commands/ouath/ouath-callback.route.ts
  apps/api/src/modules/auth/commands/ouath/ouath.handler.ts
  apps/api/src/modules/auth/commands/ouath/ouath.route.ts
  packages/types/src/auth/index.ts
  packages/types/src/auth/oauth.schema.ts
  packages/utils/src/api-routes.ts
  supabase/config.toml
Due: format, typecheck

feat(auth): prepare complete oauth flow with github and google
  apps/api/src/modules/auth/commands/ouath/ouath-callback.route.ts
  apps/api/src/modules/auth/commands/ouath/ouath.handler.ts
  apps/api/src/modules/auth/commands/ouath/ouath.route.ts
  apps/api/src/server/plugins/supabase.ts
  apps/dashboard/app/(dashboard)/layout.tsx
  apps/dashboard/app/(dashboard)/workspace/layout.tsx
  apps/dashboard/app/auth/oauth/callback/page.tsx
  apps/dashboard/features/auth/api/auth-api.ts
  apps/dashboard/features/auth/components/login-form.tsx
  apps/dashboard/features/auth/components/register-form.tsx
  apps/dashboard/features/auth/locales/en.ts
  apps/dashboard/features/auth/stores/auth-store.ts
  apps/dashboard/locales/en.ts
  apps/dashboard/locales/pl.ts
  packages/utils/src/dashboard-routes.ts
  supabase/config.toml
Due: format, typecheck

feat(dashboard): update layout - add header and sidebar changes
  apps/api/src/modules/auth/index.ts
  apps/dashboard/app/(dashboard)/workspace/layout.tsx
  apps/dashboard/components/layout/header.tsx
  apps/dashboard/components/layout/index.ts
  apps/dashboard/components/layout/search-bar.tsx
  apps/dashboard/components/logo-small.tsx
  apps/dashboard/components/logo.tsx
  apps/dashboard/components/ui/popover.tsx
  apps/dashboard/features/navigation/components/sidebar.tsx
  apps/dashboard/locales/en.ts
  apps/dashboard/locales/pl.ts
  apps/dashboard/package.json
  apps/dashboard/public/images/logo/logo-black.webp
  apps/dashboard/public/images/logo/logo-icon-black.webp
  apps/dashboard/public/images/logo/logo-icon-white.webp
  apps/dashboard/public/images/logo/logo-white.webp
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(dashboard): prepare simple editor layout
  apps/dashboard/app/(dashboard)/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/email-templates/[id]/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/email-templates/new/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/email-templates/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/layout.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/workspace-client.tsx
  apps/dashboard/app/(editor)/layout.tsx
  apps/dashboard/app/(editor)/workspace/[slug]/email-templates/[id]/edit/editor-client.tsx
  apps/dashboard/app/(editor)/workspace/[slug]/email-templates/[id]/edit/page.tsx
  apps/dashboard/app/globals.css
  apps/dashboard/components/layout/header.tsx
  apps/dashboard/components/ui/separator.tsx
  apps/dashboard/features/editor/components/canvas.tsx
  apps/dashboard/features/editor/hooks/use-editor.tsx
  apps/dashboard/features/editor/layout/editor-header.tsx
  apps/dashboard/features/editor/layout/editor-layout.tsx
  apps/dashboard/features/editor/layout/elements-sidebar.tsx
  apps/dashboard/features/editor/layout/settings-sidebar.tsx
  apps/dashboard/features/editor/locale/en.ts
  apps/dashboard/features/editor/locale/index.ts
  apps/dashboard/features/editor/locale/pl.ts
  apps/dashboard/features/editor/providers/editor-provider.tsx
  apps/dashboard/features/editor/store/editor-store.tsx
  apps/dashboard/features/navigation/components/sidebar.tsx
  apps/dashboard/features/navigation/constants/menu-structure.ts
  apps/dashboard/features/navigation/locale/en.ts
  apps/dashboard/features/navigation/locale/pl.ts
  apps/dashboard/features/templates/locale/en.ts
  apps/dashboard/features/templates/locale/index.ts
  apps/dashboard/features/templates/locale/pl.ts
  apps/dashboard/features/workspace/components/workspace-switcher.tsx
  apps/dashboard/features/workspace/hooks/use-workspace-access.ts
  apps/dashboard/features/workspace/layout/workspace-layout.tsx
  apps/dashboard/locales/en.ts
  apps/dashboard/locales/pl.ts
  apps/dashboard/package.json
  packages/utils/src/dashboard-routes.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(api): add templates CQRS implementation with create, list, and get endpoints
  apps/api/src/modules/templates/commands/create-template/create-template.handler.ts
  apps/api/src/modules/templates/commands/create-template/create-template.route.ts
  apps/api/src/modules/templates/database/template.repository.port.ts
  apps/api/src/modules/templates/database/template.repository.ts
  apps/api/src/modules/templates/domain/template.domain.ts
  apps/api/src/modules/templates/domain/template.error.ts
  apps/api/src/modules/templates/domain/templates.types.ts
  apps/api/src/modules/templates/index.ts
  apps/api/src/modules/templates/queries/find-workspace-templates/find-workspace-templates.handler.ts
  apps/api/src/modules/templates/queries/find-workspace-templates/find-workspace-templates.route.ts
  apps/api/src/modules/templates/queries/get-template/get-template.handler.ts
  apps/api/src/modules/templates/queries/get-template/get-template.route.ts
  apps/api/src/shared/db/repository.base.ts
  apps/api/src/shared/db/repository.port.ts
  packages/db/src/schema/relations.ts
  packages/db/src/schema/templates.ts
  packages/types/package.json
  packages/types/src/api/error-codes.ts
  packages/types/src/index.ts
  packages/types/src/templates/create-template.schema.ts
  packages/types/src/templates/find-workspace-templates.schema.ts
  packages/types/src/templates/get-template.schema.ts
  packages/types/src/templates/index.ts
  packages/utils/src/api-routes.ts
Due: format, typecheck, check-package-json, check-dependencies

feat(dashboard): handle creating templates on frontend
  apps/api/src/modules/templates/domain/template.domain.ts
  apps/api/src/modules/templates/queries/find-workspace-templates/find-workspace-templates.handler.ts
  apps/dashboard/app/(dashboard)/workspace/[slug]/email-templates/new/page.tsx
  apps/dashboard/app/(dashboard)/workspace/[slug]/email-templates/page.tsx
  apps/dashboard/app/(editor)/workspace/[slug]/email-templates/[id]/edit/editor-client.tsx
  apps/dashboard/components/data-renderer.tsx
  apps/dashboard/components/ui/textarea.tsx
  apps/dashboard/constants/states.ts
  apps/dashboard/features/editor/store/editor-store.tsx
  apps/dashboard/features/templates/api/templates-api.ts
  apps/dashboard/features/templates/components/create-template-form.tsx
  apps/dashboard/features/templates/components/index.ts
  apps/dashboard/features/templates/components/templates-list.tsx
  apps/dashboard/features/templates/index.ts
  apps/dashboard/features/templates/locale/en.ts
  apps/dashboard/features/templates/locale/pl.ts
  apps/dashboard/features/templates/stores/template-store.ts
  packages/types/src/templates/find-workspace-templates.schema.ts
Due: format, typecheck

feat(editor): create block factory
  apps/dashboard/features/editor/layout/editor-header.tsx
  apps/dashboard/features/editor/lib/block-factory.ts
  apps/dashboard/features/editor/registry/component-registry.ts
  apps/dashboard/features/editor/registry/layout-components.ts
  commitlint.config.mjs
  packages/db/src/schema/builder-types.ts
  packages/types/package.json
  packages/types/src/editor/block-ir.schema.ts
  packages/types/src/editor/component-registry.schema.ts
  packages/types/src/editor/index.ts
  packages/types/src/index.ts
Due: format, typecheck, check-package-json, check-dependencies

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  check-package-json: any of: **/package.json
  check-dependencies: any of: **/package.json
