Repository dkveil/requil: changes, and which lefthook commands are due for each by the changed paths.
All: format, typecheck, check-package-json, check-dependencies

lefthook.yml:

skip_output:
  - meta
  - summary

pre-commit:
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,jsonc}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: npx turbo type-check --filter=...[HEAD] --continue

    check-package-json:
      glob: "**/package.json"
      run: |
        echo "üîç Checking package.json files..."
        find . -name "package.json" -not -path "./node_modules/*" -not -path "./.turbo/*" | while read -r file; do
          if ! node -e "try { JSON.parse(require('fs').readFileSync('$file', 'utf8')); } catch(e) { process.exit(1); }" 2>/dev/null; then
            echo "‚ùå Invalid JSON in $file"
            exit 1
          fi
        done
        echo "‚úÖ All package.json files are valid"

    check-dependencies:
      glob: "**/package.json"
      run: |
        echo "üîç Checking for unused dependencies..."
        if command -v depcheck >/dev/null 2>&1; then
          depcheck --ignores="@types/*,@repo/*,lefthook,turbo,typescript" --skip-missing
        else
          echo "‚ö†Ô∏è  depcheck not installed, skipping dependency check"
        fi

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

pre-push:
  commands:
    lint:
      run: npx biome ci .

chore(ci): enable colored output in lefthook
  lefthook.yml
Due: none

chore: rebrand from relettr to requil
  .biomeignore
  .cursor/rules/README.md
  .cursor/rules/database.mdc
  .cursor/rules/devops.mdc
  .cursor/rules/project.mdc
  .cursor/rules/shared.mdc
  .cursor/rules/testing.mdc
  biome.json
  lefthook.yml
  meta.json
  package.json
  packages/typescript-config/package.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: format, check-package-json, check-dependencies

chore(app): test
  .github/dependabot.yml
  meta.json
Due: format

fix(ci): resolve 0s failure caused by empty matrix configuration
  .github/dependabot.yml
  .github/workflows/ci.yml
  meta.json
Due: format

feat(dashboard): add next.js 15 dashboard application wtih unified typescript config
  .ai/prd.md
  .cursor/rules/frontend-nextjs.mdc
  .cursor/rules/shared.mdc
  .github/workflows/ci.yml
  apps/dashboard/.gitignore
  apps/dashboard/app/favicon.ico
  apps/dashboard/app/globals.css
  apps/dashboard/app/layout.tsx
  apps/dashboard/app/page.tsx
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  apps/dashboard/postcss.config.mjs
  apps/dashboard/public/file.svg
  apps/dashboard/public/globe.svg
  apps/dashboard/public/next.svg
  apps/dashboard/public/vercel.svg
  apps/dashboard/public/window.svg
  apps/dashboard/tsconfig.json
  biome.json
  packages/config/package.json
  packages/config/typescript/base.json
  packages/config/typescript/nextjs.json
  packages/config/typescript/node.json
  packages/config/typescript/react-library.json
  packages/typescript-config/nextjs.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, typecheck, check-package-json, check-dependencies

fix(dashboard): remove invalid include paths from tsconfig
  apps/dashboard/package.json
  apps/dashboard/tsconfig.json
  packages/config/typescript/nextjs.json
Due: format, check-package-json, check-dependencies

feat(api): generate fastify project
  apps/api/.gitignore
  apps/api/README.md
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/plugins/README.md
  apps/api/src/plugins/sensible.ts
  apps/api/src/plugins/support.ts
  apps/api/src/routes/README.md
  apps/api/src/routes/example/index.ts
  apps/api/src/routes/root.ts
  apps/api/test/helper.ts
  apps/api/test/plugins/support.test.ts
  apps/api/test/routes/example.test.ts
  apps/api/test/routes/root.test.ts
  apps/api/test/tsconfig.json
  apps/api/tsconfig.json
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

docs(db): add descriptive postgresql schema plan and tables usage (EN/PL)
  .ai/db-plan.md
  .vscode/extensions.json
  .vscode/settings.json
  docs/database-tables-usage-pl.md
  docs/database-tables-usage.md
  supabase/.gitignore
  supabase/config.toml
Due: format

chore(cursor): configure rule application scopes with glob patterns
  .cursor/rules/backend.mdc
  .cursor/rules/database.mdc
  .cursor/rules/devops.mdc
  .cursor/rules/frontend-astro.mdc
  .cursor/rules/frontend-nextjs.mdc
  .cursor/rules/frontend-react.mdc
  .cursor/rules/frontend-styling.mdc
  .cursor/rules/shared.mdc
  .cursor/rules/testing.mdc
  .cursor/rules/turborepo.mdc
Due: none

feat(db): add core schema migration with RLS policies
  packages/db/src/migrations/20251021090000_create_core_schema.sql
Due: none

feat(db): prepare drizzle orm schema
  biome.json
  packages/db/drizzle.config.ts
  packages/db/package.json
  packages/db/src/migrations/0000_magenta_killmonger.sql
  packages/db/src/migrations/meta/0000_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema/api-keys.ts
  packages/db/src/schema/auth.ts
  packages/db/src/schema/enums.ts
  packages/db/src/schema/events.ts
  packages/db/src/schema/index.ts
  packages/db/src/schema/relations.ts
  packages/db/src/schema/sending.ts
  packages/db/src/schema/subscribers.ts
  packages/db/src/schema/suppression.ts
  packages/db/src/schema/templates.ts
  packages/db/src/schema/types.ts
  packages/db/src/schema/usage.ts
  packages/db/src/schema/workspace.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(db): add drizzle client for db package
  packages/db/src/client.ts
  packages/db/src/index.ts
Due: format, typecheck

feat(db): add drizzle client for db package
  packages/db/src/client.ts
Due: format, typecheck

refactor(db): centralize env config with zod validation
  packages/db/drizzle.config.ts
  packages/db/package.json
  packages/db/src/client.ts
  packages/db/src/config/env.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(db): add supabase client
  packages/db/src/config/env.ts
  packages/db/src/supabase/client.ts
Due: format, typecheck

chore(db): add drizzle scripts to root workspace
  package.json
  turbo.json
Due: format

feat(utils): create core utilites package
  packages/utils/package.json
  packages/utils/src/__tests__/constants.test.ts
  packages/utils/src/__tests__/crypto.test.ts
  packages/utils/src/__tests__/env.test.ts
  packages/utils/src/__tests__/errors.test.ts
  packages/utils/src/__tests__/helpers.test.ts
  packages/utils/src/__tests__/logger.test.ts
  packages/utils/src/constants.ts
  packages/utils/src/crypto.ts
  packages/utils/src/env.ts
  packages/utils/src/errors.ts
  packages/utils/src/helpers.ts
  packages/utils/src/index.ts
  packages/utils/src/logger.ts
  packages/utils/tsconfig.json
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(transports): add email transport package with resend and smtp support
  .ai/stack.md
  apps/api/src/routes/example/index.ts
  apps/api/src/routes/root.ts
  apps/api/test/plugins/support.test.ts
  biome.json
  packages/transports/package.json
  packages/transports/src/__tests__/base-transport.test.ts
  packages/transports/src/__tests__/create-transport.test.ts
  packages/transports/src/__tests__/resend-transport.test.ts
  packages/transports/src/__tests__/smtp-transport.test.ts
  packages/transports/src/base-transport.ts
  packages/transports/src/index.ts
  packages/transports/src/resend/index.ts
  packages/transports/src/resend/resend-transport.ts
  packages/transports/src/smtp/index.ts
  packages/transports/src/smtp/smtp-transport.ts
  packages/transports/src/types.ts
  packages/transports/tsconfig.json
  packages/transports/vitest.config.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

fix(config): resolve linter and typescript module resolution issues
  packages/config/typescript/base.json
  packages/config/typescript/node.json
  packages/transports/src/__tests__/base-transport.test.ts
  packages/transports/src/__tests__/create-transport.test.ts
  packages/transports/src/__tests__/resend-transport.test.ts
  packages/transports/src/__tests__/smtp-transport.test.ts
  packages/transports/src/base-transport.ts
  packages/transports/src/index.ts
  packages/transports/src/resend/index.ts
  packages/transports/src/resend/resend-transport.ts
  packages/transports/src/smtp/index.ts
  packages/transports/src/smtp/smtp-transport.ts
Due: format, typecheck

chore(config): common vitest config
  packages/config/package.json
  packages/config/vitest/base.ts
  packages/transports/vitest.config.ts
  packages/utils/vitest.config.ts
Due: format, typecheck, check-package-json, check-dependencies

fix(ci): try to fix type-check error in github workflows
  packages/transports/tsconfig.json
  packages/utils/tsconfig.json
Due: format

fix(ci): add build step before type-check to resolve package dependencies
  .github/workflows/ci.yml
Due: none

fix(db): add missing tsconfig.json for package build
  packages/db/tsconfig.json
Due: format

fix(db): add missing config dependency and unique import
  packages/db/package.json
  packages/db/src/schema/subscribers.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(validation): add comprehensive validation package with Zod schemas and guardrails
  biome.json
  packages/validation/package.json
  packages/validation/src/index.ts
  packages/validation/src/middleware/error-formatter.ts
  packages/validation/src/middleware/fastify-validator.ts
  packages/validation/src/middleware/index.ts
  packages/validation/src/schemas/api-key.ts
  packages/validation/src/schemas/index.ts
  packages/validation/src/schemas/send.ts
  packages/validation/src/schemas/subscriber.ts
  packages/validation/src/schemas/template.ts
  packages/validation/src/schemas/transport.ts
  packages/validation/src/schemas/usage.ts
  packages/validation/src/schemas/webhook.ts
  packages/validation/src/schemas/workspace.ts
  packages/validation/src/types/index.ts
  packages/validation/src/validators/email.ts
  packages/validation/src/validators/guardrails.ts
  packages/validation/src/validators/index.ts
  packages/validation/src/validators/mjml.ts
  packages/validation/src/validators/variables.ts
  packages/validation/tsconfig.json
  packages/validation/vitest.config.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

test(validation): prepare tests for validation package WIP
  .claude/settings.local.json
  packages/transports/vitest.config.ts
  packages/utils/vitest.config.ts
  packages/validation/src/validators/__tests__/guardrails.test.ts
  packages/validation/vitest.config.ts
Due: format, typecheck

test(validation): prepare complete tests for validation package
  packages/transports/src/__tests__/resend-transport.test.ts
  packages/validation/src/middleware/__tests__/error-formatter.test.ts
  packages/validation/src/middleware/__tests__/fastify-validator.test.ts
  packages/validation/src/schemas/__tests__/api-key.test.ts
  packages/validation/src/schemas/__tests__/send.test.ts
  packages/validation/src/schemas/__tests__/subscriber.test.ts
  packages/validation/src/schemas/__tests__/template.test.ts
  packages/validation/src/schemas/__tests__/transport.test.ts
  packages/validation/src/schemas/__tests__/usage.test.ts
  packages/validation/src/schemas/__tests__/webhook.test.ts
  packages/validation/src/schemas/__tests__/workspace.test.ts
  packages/validation/src/validators/__tests__/email.test.ts
  packages/validation/src/validators/__tests__/guardrails.test.ts
  packages/validation/src/validators/__tests__/mjml.test.ts
  packages/validation/src/validators/__tests__/variables.test.ts
  packages/validation/src/validators/variables.ts
Due: format, typecheck

feat(ratelimit): prepare ratelimit package
  packages/ratelimit/.env.example
  packages/ratelimit/package.json
  packages/ratelimit/src/__tests__/hash.test.ts
  packages/ratelimit/src/__tests__/idempotency-manager.test.ts
  packages/ratelimit/src/__tests__/rate-limiter.test.ts
  packages/ratelimit/src/core/index.ts
  packages/ratelimit/src/core/rate-limiter.ts
  packages/ratelimit/src/idempotency/idempotency-manager.ts
  packages/ratelimit/src/idempotency/index.ts
  packages/ratelimit/src/index.ts
  packages/ratelimit/src/types/index.ts
  packages/ratelimit/src/utils/hash.ts
  packages/ratelimit/src/utils/index.ts
  packages/ratelimit/tsconfig.json
  packages/ratelimit/vitest.config.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(webhooks): prepare complete webhook package
  .ai/stack.md
  packages/webhooks/package.json
  packages/webhooks/src/__tests__/fastify-webhook.test.ts
  packages/webhooks/src/__tests__/replay-protection.test.ts
  packages/webhooks/src/__tests__/signer.test.ts
  packages/webhooks/src/core/index.ts
  packages/webhooks/src/core/replay-protection.ts
  packages/webhooks/src/core/signer.ts
  packages/webhooks/src/index.ts
  packages/webhooks/src/middleware/fastify-webhook.ts
  packages/webhooks/src/middleware/index.ts
  packages/webhooks/src/types/index.ts
  packages/webhooks/tsconfig.json
  packages/webhooks/vitest.config.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

test(webhooks): prepare complete and valid tests for packages
  packages/ratelimit/src/__tests__/idempotency-manager.test.ts
  packages/ratelimit/src/__tests__/rate-limiter.test.ts
  packages/ratelimit/src/utils/hash.ts
  packages/webhooks/src/__tests__/fastify-webhook.test.ts
  packages/webhooks/src/__tests__/replay-protection.test.ts
Due: format, typecheck

feat(email-engine): prepare email-engine package
  .github/workflows/ci.yml
  packages/email-engine/package.json
  packages/email-engine/src/__tests__/guardrails.test.ts
  packages/email-engine/src/__tests__/plaintext.test.ts
  packages/email-engine/src/__tests__/render.test.ts
  packages/email-engine/src/__tests__/validate.test.ts
  packages/email-engine/src/ambient.d.ts
  packages/email-engine/src/guardrails.ts
  packages/email-engine/src/index.ts
  packages/email-engine/src/plaintext.ts
  packages/email-engine/src/render.ts
  packages/email-engine/src/snapshot.ts
  packages/email-engine/src/types.ts
  packages/email-engine/src/validate.ts
  packages/email-engine/tsconfig.json
  packages/email-engine/vitest.config.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(api): generate api-plan.md
  .ai/api-plan.md
Due: none

feat(db): extend email engine and database schema for builder structure convention
  .ai/api-plan.md
  packages/db/src/migrations/20251021090000_create_core_schema.sql
  packages/db/src/schema/builder-types.ts
  packages/db/src/schema/enums.ts
  packages/db/src/schema/index.ts
  packages/db/src/schema/templates.ts
  packages/email-engine/package.json
  packages/email-engine/src/builder-to-mjml.ts
  packages/email-engine/src/index.ts
  packages/email-engine/src/render.ts
  packages/email-engine/src/snapshot.ts
  packages/email-engine/src/types.ts
  packages/email-engine/src/validate-builder.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(api): initialize vertical slice architecture with CQRS pattern
  apps/api/.nvmrc
  apps/api/README.md
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/index.ts
  apps/api/src/plugins/README.md
  apps/api/src/plugins/support.ts
  apps/api/src/routes/README.md
  apps/api/src/routes/example/index.ts
  apps/api/src/routes/root.ts
  apps/api/src/server/index.ts
  apps/api/src/server/plugins/sensible.ts
  apps/api/src/server/plugins/support.ts
  apps/api/test/helper.ts
  apps/api/test/plugins/support.test.ts
  apps/api/test/routes/example.test.ts
  apps/api/test/routes/root.test.ts
  apps/api/test/tsconfig.json
  apps/api/tsconfig.build.json
  apps/api/tsconfig.json
  apps/api/vitest.config.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(api): prapre config WIP
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/config/env.ts
  apps/api/src/config/index.ts
  apps/api/src/index.ts
  apps/api/src/server/index.ts
  apps/api/src/server/plugins/cors.ts
  apps/api/src/server/plugins/helmet.ts
  apps/api/src/server/plugins/swagger.ts
Due: format, typecheck, check-package-json, check-dependencies

feat(api): prepare configuration for fastify api
  apps/api/package.json
  apps/api/src/config/env.ts
  apps/api/src/declaration.d.ts
  apps/api/src/index.ts
  apps/api/src/server/plugins/error-handler.ts
  apps/api/src/shared/app/app-request-context.ts
  apps/api/src/shared/db/postgres.ts
  apps/api/src/shared/ddd/query.base.ts
  apps/api/tsconfig.json
  package.json
  packages/config/env/base.ts
  packages/config/env/database.ts
  packages/config/env/index.ts
  packages/config/env/redis.ts
  packages/config/env/supabase.ts
  packages/config/package.json
  packages/config/tsconfig.json
  packages/db/package.json
  packages/db/src/index.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(api): implement CQRS infra
  apps/api/package.json
  apps/api/src/server/plugins/cqrs.ts
  apps/api/src/shared/cqrs/action-creator.ts
  apps/api/src/shared/cqrs/bus.types.ts
  apps/api/src/shared/cqrs/command-bus.ts
  apps/api/src/shared/cqrs/event-bus.ts
  apps/api/src/shared/cqrs/index.ts
  apps/api/src/shared/cqrs/middlewares.ts
  apps/api/tsconfig.json
  packages/db/package.json
  packages/db/src/client.ts
  packages/db/src/schema/relations.ts
  packages/db/tsconfig.json
  packages/utils/package.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

feat(api): complete CQRS infrastructure and example routes setup
  apps/api/package.json
  apps/api/src/modules/example/commands/create-example/create-example.handler.ts
  apps/api/src/modules/example/commands/create-example/create-example.route.ts
  apps/api/src/modules/example/commands/create-example/create-example.schema.ts
  apps/api/src/modules/example/commands/delete-example/delete-example.handler.ts
  apps/api/src/modules/example/commands/delete-example/delete-example.route.ts
  apps/api/src/modules/example/database/example.repository.port.ts
  apps/api/src/modules/example/database/example.repository.ts
  apps/api/src/modules/example/domain/example.domain.ts
  apps/api/src/modules/example/domain/example.error.ts
  apps/api/src/modules/example/domain/example.type.ts
  apps/api/src/modules/example/dto/example.pagined.response.dto.ts
  apps/api/src/modules/example/dto/example.response.dto.ts
  apps/api/src/modules/example/example.mapper.ts
  apps/api/src/modules/example/index.ts
  apps/api/src/modules/example/queries/find-examples/find-examples.handler.ts
  apps/api/src/modules/example/queries/find-examples/find-examples.route.ts
  apps/api/src/modules/example/queries/find-examples/find-examples.schema.ts
  apps/api/src/modules/index.ts
  apps/api/src/server/di/index.ts
  apps/api/src/server/di/util.spec.ts
  apps/api/src/server/di/util.ts
  apps/api/src/server/index.ts
  apps/api/src/shared/api/paginated.response.base.ts
  apps/api/src/shared/api/response.base.ts
  apps/api/src/shared/db/repository.base.ts
  apps/api/src/shared/db/repository.port.ts
  packages/db/src/schema/example.ts
  packages/db/src/schema/index.ts
  pnpm-lock.yaml
Due: format, typecheck, check-package-json, check-dependencies

fix(config): add test enum to node_env for tests
  packages/db/src/config/env.ts
Due: format, typecheck
